@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
:root{
   --Cyan: hsl(179, 62%, 43%);
   --Light-Cyan: #4ABEBD;
   --Bright-Yellow: hsl(71, 73%, 54%);
   --Light-Gray: hsl(204, 43%, 93%);
   --Grayish-Blue: hsl(218, 22%, 67%);
}

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Karla', sans-serif;
    text-align: left;
    height: 100vh;
  padding: 20px;
    
}
.container{
    width:90%;  
    background-color: white;
    align-items: center;
    border-radius: 4%;
    background-color: white;
    box-shadow: 0 0 10px 0px #b8c2c6;
}
.cyan-heading{
    color: var(--Light-Cyan);
    font-size: 2rem;
    padding-bottom: 15px;
}
.yellow-heading{
    color: var(--Bright-Yellow);
    font-size: 1.2rem;
    padding-bottom: 15px;
}
.grey-paragraph{
    color: var(--Grayish-Blue);
    font-size: 1rem;
    line-height: 1.5;
}
.grey-paragraph2{
    color: var(--Light-Gray);
    font-weight: lighter;
    font-size: 15px;
    padding-bottom: 15px;
    
    display: flex;
    align-items: center;
}
.white-heading{
    font-size: 1.2rem;
    padding-bottom: 15px;
}
.span{
    color: white;
    font-size: 2rem;
    font-weight: bold;
    padding-right: 10px;
    
}
.subscription-paragraph{
    font-weight: 400;
    padding-bottom: 15px;
    
}
.why-paragraph{
    color: var(--Light-Gray);
    line-height: 1.7rem;
    
}
.btn{
    background-color: var(--Bright-Yellow);
    color: white;
    border-color: var(--Bright-Yellow);
    width: 15rem;
    padding: 8px 0;
    text-align: center;
    font-family: 'Karla';
    border-radius:2px ;
}
.white-bg-section{
   background-color: white;
    padding: 30px;
}
.cyan-bg-section{
    background-color: var(--Cyan);
    padding: 30px;
    color: white;

    
}
.light-cyan-bg-section{
    background-color: var(--Light-Cyan);
    padding: 30px;
    color: white;
}

footer{
    margin: 50px;
}

@media only screen and (min-width: 700px) {

    body{
    font-family: 'Karla', sans-serif;
    text-align: left;
    height: 10vh;
    margin: 50px 25%;
    
}
.container{
    width: 600px;
   display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.white-bg-section{
  grid-column: 1 / 3;
  grid-row: 1;
}
.cyan-bg-section{
    height:229px;
}
.btn{
    margin-top: 20px;
}
}